<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filchatter</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <script>
            function copyToClipboard(text) {
                const el = document.createElement('textarea');
                el.value = text;
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
                alert('API key가 복사 되었습니다.');
            }
        </script>
    </head>
    <body>
        <main class="container">
            <h1 onclick="location.href='/'">Filchatter</h1>
            <nav>
                <button onclick="location.href='/'">Home</button>
                <button onclick="location.href='/generate_key'">API</button>
                <button onclick="location.href='/documents'">Documents</button>
            </nav>
            <h1>Create your API key</h1>
            {% if api_key %}
            <h2>Your API key is ...</h2>
            <h3>{{api_key}}</h3>
            <button onclick="copyToClipboard('{{api_key}}')">Copy API Key</button>
            {% else %}
            <h2>Enter name for creating API key!</h2>
            <form method="GET" action="/generate_key">
                <input type="text" name="name" placeholder="Enter your name" required>
                <button>Create API Key</button>
            </form>
            {% endif %}
        </main>
    </body>
</html>