<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filchatter</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-okaidia.min.css">
        <style>
            #english-button {
                position: fixed;
                top: 10px;
                right: 10px;
                font-size: 14px;
            }
            .hr1 {
                border-top: 10px solid var(--h1-color);
            }
            .copyable {
                cursor: pointer;
            }
        </style>
        <script>
            function copyToClipboard(text) {
                const el = document.createElement('textarea');
                el.value = text;
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
                alert('클립보드에 복사 되었습니다.');
            }
        </script>
    </head>
    <body>
        <main class="container">
            <h1 onclick="location.href='/'">Filchatter</h1>
            <nav>
                <button onclick="location.href='/'">Home</button>
                <button onclick="location.href='/generate_key'">API</button>
                <button onclick="location.href='/documents'">Documents</button>
            </nav>
            <h1>Documents</h1>
            <div>
                <h2>목표</h2>
            <h4>해당 프로젝트는 특정 텍스트의 검열이 필요한지 분석하고, ChatGPT API를 사용하여 해당 텍스트를 검열함으로써 사용자의 편의성을 향상시키는 것을 목표로 합니다. 이는 기존의 구조화된 필터링으로는 걸러낼 수 없는 텍스트 뿐만 아니라 모욕적인 텍스트까지 검열하는 텍스트 검열 서비스로 작동합니다. 부적절한 콘텐츠를 필터링할 필요가 있음에도 불구하고 종종 필터링되지 않는 경우가 있을 수 있습니다.</h4>
            </div>
            <hr class="hr1">
            <div>
                <h2>사용법?</h2>
                <h3>- Python</h3>
                <h4>
                    <p>0. 파이썬에서 구동</p>
                    <hr>
                    <p>1. Filchatter 설치</p>
                    <pre class="copyable" title="Click code to copy!" onclick="copyToClipboard('pip install filchatter')"><code class="language-shell">pip install filchatter</code></pre>
                    <p></p>
                    <hr>
                    <p>2. Filchatter를 Import.</p>
                    <pre class="copyable" title="Click code to copy!" onclick="copyToClipboard('from Filchatter import Filchatter')"><code class="language-python">from Filchatter import Filchatter</code></pre>
                    <p></p>
                    <hr>
                    <p>3. 웹사이트에서 API 키 취득. <a href='/generate_key'">API 키 받기</a></p>
                    <hr>
                    <p>4. Filchatter 객체 생성 및 API 키 설정.</p>
                    <pre class="copyable" title="Click code to copy!" onclick="copyToClipboard('client = Filchatter()\nclient.set_api_key(\&quot;api_key\&quot;)')"><code class="language-c">client = Filchatter()
client.set_api_key("api_key")</code></pre>
                    <p></p>
                    <!--<p>get_api_key() method requires String type name value as first parameter. We expect it as String type value not empty. If you provide name with empty String, you may get error json.</p>
                    <p>get_api_key() method returns json type api key looks as follows:</p>
                    <code>
                        {<br>
                            "api_key": "some value of key"<br>
                        }<br>
                    </code>
                    <p></p>
                    <p>Or you get error looks as follows:</p>
                    <code>
                        {<br>
                            "error": "Name not provided"<br>
                        }<br>
                    </code>
                    <br>-->
                    <p></p>
                    <hr>
                    <p>5. send_json_request() 메서드를 통한 채팅 필터링.</p>
                    <pre class="copyable" title="Click code to copy!" onclick="copyToClipboard('client = Filchatter()\nclient.set_api_key(api_key)\nchat = \&quot;Hello World!\&quot;\nfilter_result_json = client.send_json_request(chat)\nprint(filter_result_json.json()[\&quot;result\&quot;])')"><code class="language-c">client = Filchatter()
client.set_api_key(api_key)
chat = "Hello World!"
filter_result_json = client.send_json_request(chat)
print(filter_result_json.json()['result'])</code></pre>
                    <p></p>
                    <p>send_json_request() 메서드는 문자열 타입의 매개 변수를 받습니다. 그리고 아래와 같이 json 형식으로 반환됩니다.</p>
                    <pre><code class="language-c">{
    "result": "some value of result"
}</code></pre>     
                    <p></p>
                    <p>유효하지 않은 API 키를 이용하는 경우 아래와 같은 오류를 받습니다.</p>
                    <pre><code class="language-c">{
    "error": "Invalid api_key"
}</code></pre>
                </h4>
            </div>
            <hr class="hr1">
            <div>
                <h2>메소드</h2>
                <h4>
                    <p>이 항목은 제공되는 모든 메소드를 설명합니다. Filchatter의 인스턴스는 이 메소드를 사용할 수 있습니다.</p>
                </h4>
                <p></p>
                <hr>
                <h3>1. set_api_key</h3>
                <h4>
                    <pre class="copyable" title="Click code to copy!" onclick="copyToClipboard('set_api_key(String api_key)')"><code class="language-c">set_api_key(String api_key)</code></pre>
                    <p>인스턴스의 API key를 첫 번째 파라미터 입력값으로 설정합니다.</p>
                </h4>
                <p></p>
                <hr>
                <h3>2. get_api_key</h3>
                <h4>
                    <pre class="copyable" title="Click code to copy!" onclick="copyToClipboard('get_api_key(String name)')"><code class="language-c">get_api_key(String name)</code></pre>
                    <p>첫번째 파라미터 입력값으로 만들어진 API key를 반환합니다. 빈 String 값을 입력하면 아래와 같은 오류를 받습니다.</p>
                    <pre><code class="language-c">{
    "error": "Name not provided"
}</code></pre>
                </h4>
                <p></p>
                <hr>
                <h3>3. send_json_request</h3>
                <h4>
                    <pre class="copyable" title="Click code to copy!" onclick="copyToClipboard('send_json_request(String chat, Integer moderation_option)')"><code class="language-c">send_json_request(String chat, Integer moderation_option)</code></pre>
                    <p>첫번째 파라미터 입력값을 Chat GPT를 통해 필터링합니다. 그리고 아래와 같은 json 값을 반환합니다.</p>
                    <pre><code class="language-c">{
    "result": "some value of result"
}</code></pre>
                    <p>만약 Filchatter 인스턴스가 유효하지 않은 API 키로 세팅되어 있는 경우 아래와 같은 오류를 받습니다.</p>
                    <pre><code class="language-c">{
"error": "Invalid api_key"
}</code></pre>
                    <p>선택적인 두번째 파라미터 입력값으로 모더레이션 옵션을 사용할 수 있습니다. 기본값인 0으로 설정할 경우 위와 같은 프롬프트 모드의 결과를 받게 되며, 1로 설정할 경우 아래와 같은 모더레이션 모드의 결과를 받습니다.</p>
                    <pre><code class="language-c">{
    'result': True,
    'result_dict': {
        'harassment': False,
        'harassment_threatening': False,
        'hate': False,
        'hate_threatening': False,
        'self_harm': False,
        'self_harm_instructions': False,
        'self_harm_intent': False,
        'sexual': False,
        'sexual_minors': False,
        'violence': False,
        'violence_graphic': False,
        'self-harm': False,
        'sexual/minors': False,
        'hate/threatening': False,
        'violence/graphic': False,
        'self-harm/intent': False,
        'self-harm/instructions': False,
        'harassment/threatening': False
    }
}</code></pre>
                </h4>
                <p></p>
            </div>
        </main>
        <a href="/documents" id="english-button">English</a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-c.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-bash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>
    </body>
</html>