.box {
  display: flex;
  align-items: center;
  height: 30px;
  width: 300px;

  border: none;
  border-radius: 5px;
  background-color: gray;
}

.alert {
  color: white;
}

.me {
  background-color: yellow;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.error li:last-child{
  background-color: red;
}
.error li:last-child.vibration{
  animation:vibration 0.1s infinite;
}

